.addCloudModalHeader{
  justify-content: center;
  align-items: center;
  text-align: center;
  background:#F9FAFC;
  width: 100%;
  height: 55px;
  display: block ;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
  border-bottom: 0px;
}

.modalCloseStyle {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #4C58A4;
    margin-right: 15px;
  }

.footerDivContainer{
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: right;
  flex-direction: column;
  background:#4C58A4;
  width: 100%;
  height: 80px;
  float: left;
  overflow: hidden;
  display: block ;
  vertical-align: middle;
}

.cloudModal{
  width:1000px;
  margin-top: 100px;
}

.modalContainer {
   position: relative;
}
.modalContainer .modal, .modal-container .modal-backdrop {
   position: absolute;
}

.hmenu {
  font-size: 20px;
  font-weight: semi-bold;
  border-bottom: 0.5px solid DarkGrey;
  padding: 0 0 0 0;
}


.CreateGroupDialogClass{
  width:500px;
  margin-top: 100px;
}

.modalContainer {
   position: relative;
}
.modalContainer .modal, .modal-container .modal-backdrop {
   position: absolute;
}

.modalCloseStyle {
  text-decoration:none !important;
  font-size: 30px;
  color: #4C58A4;
  top:11px;
  right:30px;
  position:absolute;
  cursor:pointer;
  text-decoration: none;
  -webkit-transform: scale(1.3,1);
  -moz-transform: scale(1.3,1);
  -ms-transform: scale(1.3,1);
  -o-transform: scale(1.3,1);
  transform: scale(1.4,1);
  font-weight: 500;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.4px;
  -webkit-font-smoothing: antialiased;
}

.dropdown {
  margin-left: 10px;

  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADcAAAAbCAYAAADYtRcLAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACjSURBVFhH3ZXbCoAgEAX99P67oh6SiJrMWt1LA/OU654DgWljWP7pDn2M7AU6FM4xlyFwIJCP0FAEq6Fht5Z+xTvwIod+hi7zpBi61Nw5h2sBLjC0ObTEwm7QMk27Q0s1VIOWd3PKSzXBIB00g8K01BwKJbblOyYFAwp0B4X8olso7BvdQ6FrDAOFLxkOKkGGhcocDQ+VcvWOSTmX+x2axVJaAc8CazhTANefAAAAAElFTkSuQmCC')!important;
  background-position: calc(100% - 14px) calc(1em + 1px), calc(100% - 16px) calc(1em + 2px), 100% 0 !important;
  background-size: 9px 5px !important;
  background-repeat: no-repeat !important;

  border: thin solid Navy;
  line-height: 1.5em;
  padding: .5em 2.5em 0.5em 1em !important;

  border-radius: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
}

.ubtnPrimary, .ubtnPrimary:hover, .ubtnPrimary:active, .ubtnPrimary:visited {
    padding: 0px !important;
    background-color: #4C58A4;
}
.ubtnPrimary:hover {
  background-color: #00C484;
}

.toolTipStyle:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left:50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px; 
  background: #00c484;
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}

.plansWrapper ul {
   list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADBSURBVCiRlc+9DsFgFIfx5/RlZFd30CugsXMJhNVdGDo03EaF6b0CF6CNXSKp1WjCKHoMIjT1+Z/P70mO8O+sNbjpBJWj/A3r2xlKD9j9jvPwCLQFDRySsod/3iBB9iukNVo5xGaI6prYTLHWfIGHOwRwUF0BJ5ABbhrlAtYaaun8CXbuEOD2czxuotkCqIJazpc+e09x0whk8Ao+MEAS+mQsgAroHKWESPcdzONCAD7BIs4Hsk/w/ZLQZxk2vp1dAWgxXzlAuO8gAAAAAElFTkSuQmCC');
}

.plansWrapper li {
  padding: 5px 0px 5px 10px;
}

